__pycache__/
*.pyc
.DS_Store
.env

feeds_daily/
cbb_cache/
logs/

*.bak
*.tmp
~$*.docx

odds_normalized_*.csv
ncaab_pmf_model_DAILY_*.xlsx

KenPom_Ratings_*.csv
KenPom_FourFactors_*.csv
KenPom_PointDist_*.csv
KenPom_MiscStats_*.csv
KenPom_Height_*.csv

Schedule.csv
